/* main */

body {
    color: #e3e3e3;
    background: #e3e3e3;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding: 2em;
}

.header {
    min-height: 50px;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 350px;
    text-align: center;
}

.photo-box-thin {
    height: 20  0px;
}


.photo-box img {
    max-width: 100%;
    height: auto;
    min-height: 350px;
}

.photo-box aside {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
    font-size: 80%;
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,pink), color-stop(90%,white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  pink 0%, white 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  pink 0%, white 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  pink 0%, white 90%); /* IE10+ */
    background: linear-gradient(to bottom,  pink 0%,white 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

}

.photo-box aside span {
    color: #aaa;
}

.photo-box aside span a {
    color: #ccc;
    text-decoration: none;
}

.text-box {
    background: #e3e3e3;
    color: pink;
}

.text-box-head {
    color: pink;
    padding-bottom: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 30px;
}

.text-box-subhead {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #e3e3e3;
}

.form-box .pure-button {
    background-color: #e3e3e3;
    color: white;
    vertical-align: top;
    font-size: 85%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    margin: 0.3em;
}
.pure-form input[type] {
    margin: 0.3em auto;
    text-align: center;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.slide-menu {
    visibility: hidden;
}

.text-box {
    max-height: 300px;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 350px;
    }

    .slide-menu {
        visibility: visible;
    }
}



/* spinning ball */

canvas{
    transform:rotate(45deg);
    border-radius:50%;
    box-shadow:20px 2px  40px #111;
}

#spinning-ball {
    margin-top: 20px;
}



/* pure grid */

.u-1,
.u-1-1,
.u-1-2,
.u-1-3,
.u-2-3,
.u-1-6,
.u-2-6,
.u-3-6,
.u-4-6,
.u-5-6,
.u-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.u-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.u-1-3,
.u-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.u-1-2,
.u-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.u-2-3,
.u-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.u-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.u-1,
.u-1-1,
.u-6-6 {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .u-med-1,
    .u-med-1-1,
    .u-med-1-2,
    .u-med-1-3,
    .u-med-2-3,
    .u-med-1-6,
    .u-med-2-6,
    .u-med-3-6,
    .u-med-4-6,
    .u-med-5-6,
    .u-med-6-6 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .u-med-1-6 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .u-med-1-3,
    .u-med-2-6 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .u-med-1-2,
    .u-med-3-6 {
        width: 50%;
        *width: 49.9690%;
    }

    .u-med-2-3,
    .u-med-4-6 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .u-med-5-6 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .u-med-1,
    .u-med-1-1,
    .u-med-6-6 {
        width: 100%;
    }

}



@media screen and (min-width: 48em) {
    .u-lrg-1,
    .u-lrg-1-1,
    .u-lrg-1-2,
    .u-lrg-1-3,
    .u-lrg-2-3,
    .u-lrg-1-6,
    .u-lrg-2-6,
    .u-lrg-3-6,
    .u-lrg-4-6,
    .u-lrg-5-6,
    .u-lrg-6-6 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .u-lrg-1-6 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .u-lrg-1-3,
    .u-lrg-2-6 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .u-lrg-1-2,
    .u-lrg-3-6 {
        width: 50%;
        *width: 49.9690%;
    }

    .u-lrg-2-3,
    .u-lrg-4-6 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .u-lrg-5-6 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .u-lrg-1,
    .u-lrg-1-1,
    .u-lrg-6-6 {
        width: 100%;
    }

}


/* slide menu */

/* menu links */
.slide-menu a {
    color: #fff;
    text-decoration: none;
}

.slide-menu a:hover,
.slide-menu a:focus {
    color: #e3e3e3;
    outline: none;
}

.slide-menu li {
    max-width: 20px;
    padding-top: 5px;
}
/* end menu links */

.slide-menu {
    position: fixed;
    width: 250px;
    top: 0px;
    bottom: 0px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.6s;
}

.slide-menu-open {
    transform: translate3d(0, 0, 0);
}

.slide-menu-inner {
    width: calc(100% + 15px);
    padding: 0 100px 2em 0;
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 100;
}

.slide-menu-handle {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1000;
}

.slide-menu-handle::before,
.slide-menu-handle::after,
.slide-menu-handle span {
    background: #fff;
}

.slide-menu-handle::before,
.slide-menu-handle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    transform-origin: 50% 50%;
    transition: transform 0.25s;
}

.slide-menu-handle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    transition: opacity 0.25s;
}

.slide-menu-handle::before {
    transform: translate3d(0, -10px, 0);
}

.slide-menu-handle::after {
    transform: translate3d(0, 10px, 0);
}

.slide-menu-open .slide-menu-handle span {
    opacity: 0;
}

.slide-menu-open .slide-menu-handle::before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.slide-menu-open .slide-menu-handle::after {
    transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0px;
}

.morph-shape svg path {
    stroke: #fff;
    stroke-width: 2px;
}
.slide-menu-open .morph-shape svg path {
    stroke: #fff;
    stroke-width: 4px;
}
